{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
    <h1>PPW Django Authentcation</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! </a></p>
        <p>I'm pretty sure your full name is: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Your email is: {{ user.email }}</p>
        <p>Below is your profile picture!</p>
        <img src="{{ user.profile.photo.url }}" width="240" alt="Ooops! You haven't upload your profile picture">
        <br>
        <p><a href="{% url 'logout' %}" id="logout">(Logout)</p>
    {% else %}
        <p>You are not logged in <a href="{% url 'login' %}" id="login">(Login)</a></p>
        <p>Don't have an account? Click <a href="{% url 'signup' %}" id="signup">here</a> to sign up</p>
    {% endif %}
{% endblock %}


