{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block content %}
<h3>Sign Up</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="signup_button">Sign Up</button>
</form>

{% endblock %}
