{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<h3>Login</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" id="login_button">Login</button>
</form>
<p>Don't have an account? Click <a href="{% url 'signup' %}" id="signup">here</a> to sign up</p>

{% endblock %}


